<tt-manager-page-layout>
  <ng-container header>
    <ng-container header-title>
      <h2 class="tt-page-title pen-mb-10 tt-koho tt-bold">
        {{('MENU.CMS_WINFIT_ONLINE' | translate) | uppercase}}
      </h2>
    </ng-container>
  </ng-container>
  <ng-container body>
    <tt-table-layout
      [props]="{data: winfitData, showExpand: false, minWidth: 980, showRefresh: false, showTable: false}"
      (oChangeParams)="onSearch($event)" [loading]="loading.list" (oRefresh)="onRefresh()" (oReset)="onReset()">
      <ng-container filter-main>
        <div nz-col [nzXXl]="8" [nzLg]="8" [nzMd]="18" [nzSm]="24" [nzXs]="24" class="tt-pr-10">
          <tt-search-input-layout [label]="'TABLE.CUSTOMER_NAME_WINFIT'">
            <ng-container body>
              <input maxlength="120" nz-input [placeholder]="'PLACEHOLDER.CUSTOMER_NAME_INPUT_WINFIT' | translate" (keyup.enter)="onSearch()"
                [(ngModel)]="params.customerName"/>
            </ng-container>
          </tt-search-input-layout>
        </div>
      </ng-container>
      <ng-container filter-button>
        <ng-container [ngTemplateOutlet]="buttons"></ng-container>
      </ng-container>
      <ng-container filter-right-button>
      </ng-container>
      <ng-container custom-body>
        <nz-table #stc90DaysTable [nzData]="winfitData" [nzShowPagination]="false" [nzLoading]="loading.list"
          [nzSize]="'small'" [nzScroll]="{y: data.nzScroll.y, x: data.nzScroll.x + 'px'}" [nzFrontPagination]="false" [nzVirtualItemSize]="20">
          <!-- (nzQueryParams)="onSearchTableParams($event)"> -->
          <thead>
            <tr>
              <!-- <th [nzWidth]="'50px'" *ngIf="data.list.length > 0" nzLeft>
                <ng-container *ngIf="data.showCheckAll">
                  <label nz-checkbox [(ngModel)]="data.checkAll" (ngModelChange)="onChangeCheckBox($event, -1)"></label>
                </ng-container>
              </th> -->
              <ng-container
                *ngFor="let header of tableHeader; let _last = last; let _first=first; let index=index">
                <th class="tt-bold" *ngIf="header.width && (dataColumnShows$ | async)?.includes(header.field)"
                  [nzAlign]="header.align ? header.align: 'left'" [nzLeft]="!!header.nzLeft"
                  [nzWidth]="header.width ? header.width + 'px' : ''" style="font-weight: 700; font-family: 'Koho';">
                  <!-- [nzSortOrder]="header?.sortOrder || null" [nzColumnKey]="header.field" [nzSortFn]="true"
                  [nzShowSort]="columnShowSort.includes(header.field)"> -->
                  {{ header.title | translate }}
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <!-- <ng-container *ngFor="let item of data.list; let idx = index; let lst = last"> -->
            <ng-template nz-virtual-scroll let-item let-idx="index">
              <tr>
                <td *ngIf="(dataColumnShows$ | async)?.includes(columnsField.customerName)">
                  {{ item.customerName }}
                </td>
                <td *ngIf="(dataColumnShows$ | async)?.includes(columnsField.customerPhoneNumber)">
                  {{ item.customerPhoneNumber }}
                </td>
                <td *ngIf="(dataColumnShows$ | async)?.includes(columnsField.customerEmail)">
                  {{ item.customerEmail }}
                </td>
                <td class="tt-align-right" *ngIf="(dataColumnShows$ | async)?.includes(columnsField.bmr)">
                  {{ item.bmr.mifflinStJeor }}
                </td>
                <td class="tt-align-right" *ngIf="(dataColumnShows$ | async)?.includes(columnsField.bmi)">
                  {{ item.bmi }}
                </td>
                <td *ngIf="(dataColumnShows$ | async)?.includes(columnsField.action)">
                  <div class="tt-col-action" [ngClass]="{'tt-disabled': loading.detail || loading.delete}">
                    <div>
                      <button nz-button nzType="text" (click)="onClickEditItem(item.firebaseID)">
                        <img loading="lazy" [src]="'edit' | TTAssetsLink:'svg'" [alt]="'edit.svg'" style="height: 25px; width: 25px;">
                      </button>
                      <button nz-button nzType="text" (click)="onClickDeleteItem(item.firebaseID)">
                        <img loading="lazy" [src]="'delete' | TTAssetsLink:'svg'" [alt]="'delete.svg'" style="height: 25px; width: 25px;">
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <!-- </ng-container> -->
          </tbody>
        </nz-table>
      </ng-container>
    </tt-table-layout>
  </ng-container>
</tt-manager-page-layout>

<ng-template #buttons>
  <button [nzLoading]="loading.list" class="tt-mw-80 pen-mt-5 pen-ml-5" nz-button nzType="primary" nzShape="round"
    (click)="onSearch()">
    {{'BUTTON.SEARCH' | translate}}
  </button>
</ng-template>

<nz-modal [nzClassName]="'tt-wo-modal'" [(nzVisible)]="isVisibleModal" [nzCloseIcon]="''">
  <ng-container *nzModalTitle></ng-container>

  <ng-container *nzModalContent>
    <section class="tt-wo-modal-content">
      <!-- base info -->
       <section class="tt-wo-modal-section" [ngClass]="{'tt-disabled': loading.save}">
        <label class="tt-wo-modal-section-head tt-label">{{('TABLE.BASIC_INFO_WINFIT' | translate) | uppercase}}</label>
        <form nz-row [formGroup]="detailForm">
          <section class="tt-wo-modal-edit-left" nz-col [nzXXl]="12" [nzLg]="12" [nzMd]="16" [nzSm]="20" [nzXs]="24">
            <ng-container *ngIf="detailForm.contains('customerName')">
              <nz-form-item>
                <nz-form-control>
                  <label class="tt-label tt-required">{{"LABEL.CUSTOMER_NAME_INPUT_WINFIT" | translate}}</label>
                  <input nz-input formControlName="customerName" [placeholder]="'PLACEHOLDER.CUSTOMER_NAME_INPUT_WINFIT' | translate" />
                </nz-form-control>
              </nz-form-item>
            </ng-container>

            <ng-container *ngIf="detailForm.contains('customerEmail')">
              <nz-form-item>
                <nz-form-control>
                  <label class="tt-label">{{"LABEL.CUSTOMER_EMAIL_INPUT_WINFIT" | translate}}</label>
                  <input nz-input formControlName="customerEmail" type="email" [placeholder]="'PLACEHOLDER.CUSTOMER_EMAIL_INPUT_WINFIT' | translate" />
                </nz-form-control>
              </nz-form-item>
            </ng-container>

            <ng-container *ngIf="detailForm.contains('customerPhoneNumber')">
              <nz-form-item>
                <nz-form-control>
                  <label class="tt-label">{{"LABEL.CUSTOMER_PHONE_NUMBER_INPUT_WINFIT" | translate}}</label>
                  <input nz-input type="number" formControlName="customerPhoneNumber"
                    [placeholder]="'PLACEHOLDER.CUSTOMER_PHONE_NUMBER_INPUT_WINFIT' | translate" />
                </nz-form-control>
              </nz-form-item>
            </ng-container>

            <ng-container *ngIf="detailForm.contains('gender')">
              <nz-form-item>
                <nz-form-control>
                  <label class="tt-label tt-required">{{"GENDER.INDEX_WINFIT" | translate}}</label>
                  <nz-radio-group formControlName="gender" (ngModelChange)="onChangeFormValue('gender')">
                    <label nz-radio [nzValue]="true">{{"GENDER.MAN_WINFIT" | translate}}</label>
                    <label nz-radio [nzValue]="false">{{"GENDER.WOMAN_WINFIT" | translate}}</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </ng-container>
          </section>
          <section class="tt-wo-modal-edit-right" nz-col [nzXl]="12" [nzXXl]="12" [nzLg]="12" [nzMd]="16" [nzSm]="20" [nzXs]="24">
            <ng-container *ngIf="detailForm.contains('age')">
              <nz-form-item>
                <nz-form-control>
                  <label class="tt-label tt-required">{{'TABLE.ABOUT_AGE' | translate}}:</label>
                  <input nz-input type="number" formControlName="age" [placeholder]="'PLACEHOLDER.AGE_INPUT' | translate" (blur)="onChangeFormValue('age')"/>
                </nz-form-control>
              </nz-form-item>
            </ng-container>

            <ng-container *ngIf="detailForm.contains('heightIndex')">
              <nz-form-item>
                <nz-form-control>
                  <label class="tt-label tt-required">{{"LABEL.HEIGHT_INPUT_WINFIT" | translate}}</label>
                  <input nz-input type="number" formControlName="heightIndex" [placeholder]="'PLACEHOLDER.HEIGHT_INPUT' | translate" (blur)="onChangeFormValue('heightIndex')"/>
                </nz-form-control>
              </nz-form-item>
            </ng-container>

            <ng-container *ngIf="detailForm.contains('weightIndex')">
              <nz-form-item>
                <nz-form-control>
                  <label class="tt-label tt-required">{{"LABEL.WEIGHT_INPUT_WINFIT" | translate}}</label>
                  <input nz-input type="number" formControlName="weightIndex" [placeholder]="'PLACEHOLDER.WEIGHT_INPUT' | translate" (blur)="onChangeFormValue('weightIndex')"/>
                </nz-form-control>
              </nz-form-item>
            </ng-container>

            <div class="tt-wo-basic-info-item">
              <label class="tt-label">{{'TABLE.WATER_NEEDED_WINFIT' | translate}}:</label>
              <p>{{data.detail.waterNeeded + ' ' + ('TABLE.WATER_WINFIT' | translate)}}</p>
            </div>
          </section>
        </form>
      </section>

      <!-- BMR -->
      <section class="tt-wo-modal-section tt-wo-modal-section-bmr" [ngClass]="{'tt-disabled': loading.save}">
        <label class="tt-wo-modal-section-head tt-label">{{('TABLE.EXPLAIN_INDEX_BMR' | translate) | uppercase}}</label>
        <nz-table [nzShowPagination]="false" [nzSize]="'small'" [nzData]="baseWinfitOnlineData.baseMBRData" [nzScroll]="{x: '700px'}">
          <thead>
            <tr>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.BMR' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.ABOUT_AGE' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'300px'">
                {{ ('TABLE.INDEX_BMR' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.MAN' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.WOMAN' | translate) | uppercase }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let bmr of baseWinfitOnlineData.baseMBRData; let index = index">
              <tr [ngClass]="{'tt-background-green': data.detail.age >= bmr.ageFrom && data.detail.age <= bmr.ageTo}">
                <ng-container *ngIf="index === 0">
                  <td [rowSpan]="7" [ngClass]="{'tt-bold tt-koho': data.detail.age >= bmr.ageFrom && data.detail.age <= bmr.ageTo}">
                    <p>{{data.detail.bmr.mifflinStJeor}}</p>
                  </td>
                </ng-container>
                <td [ngClass]="{'tt-bold tt-koho': data.detail.age >= bmr.ageFrom && data.detail.age <= bmr.ageTo}">
                  <ng-container *ngIf="bmr.ageTo; else emptyAgeTo">
                    {{bmr.ageFrom + ' - ' + bmr.ageTo}}
                  </ng-container>

                  <ng-template #emptyAgeTo>
                    {{'>= ' + bmr.ageFrom}}
                  </ng-template>
                </td>
                <td [ngClass]="{'tt-bold tt-koho': data.detail.age >= bmr.ageFrom && data.detail.age <= bmr.ageTo}">
                  <ng-container *ngIf="data.detail.age >= bmr.ageFrom && data.detail.age <= bmr.ageTo">
                    <div [innerHTML]="data.detail | TTBMRPerAge"></div>
                  </ng-container>
                </td>
                <td [ngClass]="{'tt-bold tt-koho': data.detail.age >= bmr.ageFrom && data.detail.age <= bmr.ageTo}">
                  {{bmr.manBMR}}
                </td>
                <td [ngClass]="{'tt-bold tt-koho': data.detail.age >= bmr.ageFrom && data.detail.age <= bmr.ageTo}">
                  {{bmr.womanBMR}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </section>

      <!-- BMI -->
      <section class="tt-wo-modal-section tt-wo-modal-section-bmi" [ngClass]="{'tt-disabled': loading.save}">
        <label class="tt-wo-modal-section-head tt-label">{{('TABLE.INDEX_BMI' | translate) | uppercase}}</label>
        <nz-table [nzShowPagination]="false" [nzSize]="'small'" [nzData]="baseWinfitOnlineData.baseMBIData" [nzScroll]="{x: '450px'}">
          <thead>
            <tr>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.BMI' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'150px'">
                {{ ('TABLE.EXPLAIN_BMI' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'200px'">
                {{ ('TABLE.TYPE' | translate) | uppercase }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let bmi of baseWinfitOnlineData.baseMBIData; let index = index">
              <tr [ngClass]="{'tt-background-green': data.detail.bmi >= bmi.bmiFrom && data.detail.bmi <= bmi.bmiTo}">
                <ng-container *ngIf="index === 0">
                  <td [rowSpan]="5" [ngClass]="{'tt-bold tt-koho': data.detail.bmi >= bmi.bmiFrom && data.detail.bmi <= bmi.bmiTo}">
                    <p>{{data.detail.bmi}}</p>
                  </td>
                </ng-container>
                <td [ngClass]="{'tt-bold tt-koho': data.detail.bmi >= bmi.bmiFrom && data.detail.bmi <= bmi.bmiTo}">
                  {{bmi.bmiFrom + ' - ' + bmi.bmiTo}}
                </td>
                <td [ngClass]="{'tt-bold tt-koho': data.detail.bmi >= bmi.bmiFrom && data.detail.bmi <= bmi.bmiTo}">
                  {{bmi.type | translate}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </section>

      <!-- body fat -->
      <section class="tt-wo-modal-section tt-wo-modal-section-bodyfat" [ngClass]="{'tt-disabled': loading.save}">
        <label class="tt-wo-modal-section-head tt-label">{{('TABLE.INDEX_BODY_FAT' | translate) | uppercase}}</label>
        <nz-table [nzShowPagination]="false" [nzSize]="'small'" [nzData]="baseWinfitOnlineData.baseBodyFatData" [nzScroll]="{x: '350px'}">
          <thead>
            <tr>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.MAN' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.WOMAN' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'150px'">
                {{ ('TABLE.TYPE' | translate) | uppercase }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let bdf of baseWinfitOnlineData.baseBodyFatData; let index = index">
              <tr>
                <td>
                  <ng-container *ngIf="bdf.indexForManTo; else emptyManTo">
                    {{bdf.indexForManFrom + ' - ' + bdf.indexForManTo}}
                  </ng-container>

                  <ng-template #emptyManTo>
                    {{'>= ' + bdf.indexForManFrom}}
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="bdf.indexForWomanTo; else emptyManTo">
                    {{bdf.indexForWomanFrom + ' - ' + bdf.indexForWomanTo}}
                  </ng-container>

                  <ng-template #emptyManTo>
                    {{'>= ' + bdf.indexForWomanFrom}}
                  </ng-template>
                </td>
                <td>
                  {{bdf.type | translate}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </section>

      <!-- visceral fat -->
      <section class="tt-wo-modal-section tt-wo-modal-section-visceralfat" [ngClass]="{'tt-disabled': loading.save}">
        <label class="tt-wo-modal-section-head tt-label">{{('TABLE.INDEX_VISCERAL_FAT' | translate) | uppercase}}</label>
        <nz-table [nzShowPagination]="false" [nzSize]="'small'" [nzData]="baseWinfitOnlineData.baseVisceralFatData" [nzScroll]="{x: '350px'}">
          <thead>
            <tr>
              <th [nzWidth]="'200px'">
                {{ ('TABLE.VISCERAL_FAT_LEVEL' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'150px'">
                {{ ('TABLE.TYPE' | translate) | uppercase }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let bvf of baseWinfitOnlineData.baseVisceralFatData; let index = index">
              <tr>
                <td>
                  <ng-container *ngIf="bvf.levelVisceralFatTo; else emptyManTo">
                    {{bvf.levelVisceralFatFrom + ' - ' + bvf.levelVisceralFatTo}}
                  </ng-container>

                  <ng-template #emptyManTo>
                    {{'>= ' + bvf.levelVisceralFatFrom}}
                  </ng-template>
                </td>
                <td>
                  {{bvf.type | translate}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </section>

      <!-- skeletal muscles -->
      <section class="tt-wo-modal-section tt-wo-modal-section-skeletalmescles" [ngClass]="{'tt-disabled': loading.save}">
        <label class="tt-label">{{('TABLE.INDEX_SKELETAL_MUSCLES' | translate) | uppercase}}</label>
        <nz-table [nzShowPagination]="false" [nzSize]="'small'" [nzData]="baseWinfitOnlineData.baseSkeletalMusclesData" [nzScroll]="{x: '600px'}">
          <thead>
            <tr>
              <th [nzWidth]="'100px'"></th>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.LOW' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'150px'">
                {{ ('TABLE.NORMAL' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.GOOD' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'150px'">
                {{ ('TABLE.VERY_GOOD' | translate) | uppercase }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let bsm of baseWinfitOnlineData.baseSkeletalMusclesData; let index = index">
              <tr>
                <td>
                  {{bsm.for | translate}}
                </td>
                <td>
                  {{bsm.lowFrom + ' - ' + bsm.lowTo}}
                </td>
                <td>
                  {{bsm.normalFrom + ' - ' + bsm.normalTo}}
                </td>
                <td>
                  {{bsm.goodFrom + ' - ' + bsm.goodTo}}
                </td>
                <td>
                  {{bsm.veryGoodFrom + ' - ' + bsm.veryGoodTo}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </section>

      <!-- fotter -->
       <section class="tt-wo-modal-section tt-wo-modal-section-footer">
          <button nz-button nzType="default" nzSize="default" nzShape="round" (click)="onToggleVisibleEditItemModal(false)">
            {{'BUTTON.CANCEL_WINFIT' | translate}}
          </button>
          <button nz-button nzType="primary" nzSize="default" nzShape="round" (click)="onClickSaveWinfitItem()" [disabled]="detailForm.invalid"
            [nzLoading]="loading.save">
            {{'BUTTON.SAVE_WINFIT' | translate}}
          </button>
       </section>
    </section>
  </ng-container>

  <ng-container *nzModalFooter></ng-container>
</nz-modal>

<ng-template #icon>
  <svg style="width: 8px; height: 8px;">
    <use xlink:href="#play-icon-down"></use>
  </svg>
</ng-template>

<!-- #region For TW only -->
<ng-template #showError let-field="field">
  <ng-container *ngIf="field.errors.indexOf('required') > -1">
    <p class="pen-red pen-mt-5 pen-mb-0">{{'error.required' | translate}}</p>
  </ng-container>
</ng-template>
<!-- #endregion -->
